@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i,900|Source+Sans+Pro:300,400,400i,600&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif, 'Playfair Display', serif;
    background-color: #e7e7eb;
}

/* Header */
.intro-container{
   margin-top: 75px;
   /* background-color: #cef4f3;  */
   display: flex;
   text-align: center;
   /* align-items: center; */
}
}

#section-header{
    text-align: center;
    margin: 25px 0; 
    padding-top: 25px;
}

.main-heading{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-bottom: 15px;
    color: #dc3545;
}

.dropdown-selector{
    margin-top: 25px;
}

.media{
    background-color: #ffffff;
    margin-top: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.movie-info{
    padding: 20px 20px 10px 0;
}

.movie-title{
    color: #dc3545;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

/* Search page */
.searchBar{
    text-align: center;
}

.searchBtnDiv{
    text-align: center;
    margin-top: 15px;
}

